.case h1 {
  text-align: center;
  margin: 0 10%;
}
.case article{
  margin-right:10px;
}
.case hr{
  margin:5% 0;
}
.case div{
  margin: 2% 10%;
}
.case-intro{
  text-align: justify;
  padding: 10px;
  clear: both;
  line-height : 30px;
}
.case-intro img {
  border-radius: 5px;
  float: right;
  margin: 2% 0 0 5% ;
  box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
  -webkit-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
  -moz-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
}

.case-middle img {
  border-radius: 5px;
  float: left;
  margin: 2% 5% 0 0 ;
  box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
  -webkit-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
  -moz-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
}

.case-middle{
  text-align: justify;
  padding: 10px;
  clear: both;
  line-height : 30px;
}

.case-final img{
  border-radius: 5px;
  float: right;
  margin: 2% 0 0 5% ;
  box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
  -webkit-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
  -moz-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
}

.case-final{
  text-align: justify;
  padding: 10px;
  clear: both;
  line-height : 30px;
}
figcaption{
  text-align: center;
  margin: 2px
}
.case-gallery img{
  display: block;
  margin: auto;
  border-radius: 5px;
  box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
  -webkit-box-shadow: 0 -2px 10px 2px rgba(0,0,0,0.44);
  -moz-box-shadow: 4px 6px 22px -2px rgba(0,0,0,0.44);
}
.case-end{
  text-align: justify;
  padding: 10px;
  margin: 5% 10%;
  clear: both;
  line-height : 30px;
}

.case-buttons{
  text-align: center;
}

.case-buttons a{
  margin: 0 10px;
  line-height: 40px;
  font-size: 1.3rem;
}

@media (max-width:1800px) {
  .case img {
    width: 70%;
  }
}
@media (max-width:1435px) {
  .case img {
    float: none;
    display:block;
    margin: auto;
    width: 70%;
  }
}
@media (max-width:1135px) {
  .case{
    font-size: 90%;
  }
  .case img {
    float: none;
    display:block;
    margin: auto;
    width: 90%;
  }
  .case-buttons a{
    font-size: 1rem;
  }
}
@media (max-width:700px) {
  .case img {
    width: 100%;
  }
  .case-gallery img{
    width: 100%;
  }
  .case {
    font-size: 90%;
  }
  article p{
    font-size: 100%;
    line-height: 150%;
  }
  .case-buttons a{
    margin: 0 0;
  }
  figcaption{
    text-align: left;
  }
}