/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version
*/

/* full tags' decoration */
* {
  box-sizing: border-box;
}

body {
  background: #f0f5f9;
  font-family: 'Montserrat', sans-serif;
}
p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.button {
  border: 1px solid #1e2022;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px #444444;
          box-shadow: 2px 2px #444444;
  color: #000000;
  padding: 10px;
}

.button:hover{
  background-color: #ff6868;
  border: 1px solid #1e2022;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px #444444;
          box-shadow: 2px 2px #444444;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.button_CTA {
  background-color: #ffffff;
}

.button_CTA:hover {
  background-color: rgb(89, 153, 255);
  color: white;
}
table {
  text-align: center;
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  width: 100%;
  margin-bottom: 6%;
}
th, td {
  padding: 15px;
  text-align: left;
  font-size: 1.5rem;
}

/* anchor tags' decoration */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  color: #1e2022;
}


/* SPECIFIC to index.html decoration*/
/* <WEB> simbol in index - decoration */
.web {
  color: #f65454;
  text-shadow: 1px 1px black;
  font-weight: 400;
}

.main {
  width: 60%;
  padding: 5% 2% 2% 2%;
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-title{
  font-size: 3rem;
  font-family: 'Source Code Pro', monospace;
}
.main-text{
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1cm;
}
.profile__portrait {
  height: 280px;
  margin: 3%;
}

/* SPECIFIC to about.html decoration */
.hr-about{
  margin: 50px auto;
  width: 150px;
  border-top: 0;
  border-bottom: 10px solid rgb(105, 105, 105);
  border-style: dotted;
}
.about-page{
  margin: auto;
  width: 45%;
}
.about-full-text{
  margin-top: 5%;
}
.about-main-title{
  font-size: 250%;
}
.about_text{
  text-align: left;
  font-size: 1.5rem;
  line-height: 40px;
}
.about-CTA{
  text-decoration: underline;
}
.about-CTA:hover{
  text-decoration: underline;
  color: #f65454;

}
.sevilla_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 427px;
  height: 146px;
}
.end-buttons{
  /* display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr; */
  text-align: center;
  margin: 100px 0 30px;
}
.end-buttons a{
  margin: 0 50px;
}
.arrow{
  width: 15px;
}
.stack{
  margin: 5% 0 -50px 0;
  text-align: center;
}
.stack img{
  height: 60px;
  margin:0 2%;
}

/* SPECIFIC to contact.html decoration */

.my-contact{
  margin: 12% 0 25%;
  text-align: center;
}

.contact {
  height: 35px;
  border-radius: 10px;
  margin: 10px;
  width: 300px ;
}
.contact.message{
  height: 180px;
}

/* SPECIFIC to work.html decoration */
.porfolio-title{
  margin: 10px 10px 10px 40px;
}
.porfolio-subtitle{
  margin: 10px 10px 10px 40px;
  line-height: 35px;
}
      /* fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}
      /* end of fallback */

.grid {
  margin:0 30px ;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid_item {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 10px 10px;
  padding: 20px 20px 50px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.49);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.49);
}
/* There are 2 classes: item-logo, and item-logo-large. they work for pictures with same height and width, and pics 
with longer width than height respectively */
.item-logo{  
  width: 40%;
  height:170px ;
  margin: auto;
  text-align: center;
}
.item-logo-large{
  width: 40%;
  height:140px ;
  margin: auto;
  text-align: center;
}
.item-logo-large img{
  height: auto;
  width: 80%;
  display: block;
  margin: 20px auto 21%;
}
.item-logo img {
  height: auto;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* footer for all html files*/
.page-footer {
  background-color: #444444;
  height: 180px;
  padding: 1% 0 1%;
  clear: both;
  position: relative;
  bottom: -100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.footer-container {
  position: relative;
  top: 10%;
  max-width: 400px;
  margin: auto ;
  text-align: center;
}

.social-media-item {
  margin: 1%;
  padding: 1%;
}
.twitter{
  height:30px;
}
.find-me-on {
  color: white;
}



/* universal */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Media Queries */
@media all and (min-width: 1990px) {
  .item-logo{
    height: 50%;
   }
}
@media all and (max-width: 1300px) {
  .about-page{
    width: 65%;
   }
}
@media all and (max-width: 1100px) {
  .grid {
     -ms-grid-columns: 1fr 10px 1fr;
     grid-template-columns: 1fr 1fr;
     grid-gap: 10px;
   }
   .grid__item:last-child {
     grid-column: auto / auto;
     grid-row: auto / auto;
   }
   .page-header .page-header__item:last-child {
     margin-top: 0;
   }
   .main {
     width: 80%;
     display: -ms-grid;
     display: grid;
     -ms-grid-columns: 1fr;
     grid-template-columns: 1fr;
     text-align: center;
     margin: auto;
   }
   .profile__portrait {
     margin: auto;
   }
   .about_title{
    padding: 0 8%;
   }
   .about-page{
    width: 85%;
   }
   .about_text{
     line-height: 32px;
     padding: 0 8%;
  }
   table {
     width:70%;
   }
   section table td{
     font-size: 1.1rem;
     text-align: center;
   }
}
@media all and (max-width: 700px) {
  .main-title{
    font-size: 2rem;
  }
  .grid {
     margin: 0 10px;
     -ms-grid-columns: 1fr;
     grid-template-columns: 1fr;
     grid-gap: 10px;
   }
   .porfolio-title{
    margin: 10px 10px 10px 20px;
  }
  .porfolio-subtitle{
    margin: 10px 10px 20px 20px;
  }
   .profile__portrait {
     height: 250px;
     text-align: center;
     width: auto;
   }
   .about-page{
    width: 90%;
  }
   .about_text{
     font-size: 0.95rem;
     line-height: 30px;
   }
   .sevilla_img{
     width: 256.2px;
     height: 87.6px;
     text-align: center;
   }
   th, td {
     text-align: center;
     font-size: 0.9rem;
     padding: 5px;
   }
   .description{
     margin-bottom: 100px;
   }
   table{
     width:80%;
   }
   .my-contact{
    margin: 43% 0;
   }
   .table-contact{
     width: 90%;
     
   }
   section table td{
     font-size: 0.8rem;
     text-align: center;
   }
   .end-buttons{
     margin: 18px;
   }
   .end-buttons a{
    margin: 0 10px;
  }
  .stack img{
    height: 40px;
    margin:0 2%;
  }
 }
 @media all and (max-width: 500px) {
 .item-logo{ 
  height:140px ;
 }
}